<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sma">SMA Page</a></li>
        </ul>
    </nav>    
</body>
</html>
