<div style="margin-top: 20px; margin-left: 20px;">
    <p><strong>Индикатор extremum </p>
    <div id="chart" style="margin-top: 20px;"></div>
</div>

<script type="module">
    import { buildExtremum } from '{{ .EntryJS }}';

    // Данные, переданные из Go
    const chartData = {{ .ChartData }};
    const highIndicator = {{ .HighIndicator }};
    const lowIndicator = {{ .LowIndicator }};
    
    // Вызов функции с аргументами
    buildExtremum(chartData,highIndicator,lowIndicator);
</script>