<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/sma">SMA Page</a></li>
            <li><a href="/extremum">Extremum Page</a></li>
            <li><a href="/rsi">RSI Page</a></li>
            <li><a href="/sniper">SniperTrend Page</a></li>
        </ul>
    </nav>    
</body>
</html>
