<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <h1>Hello, Vite + Gin (Production Mode)!</h1>
    <script type="module">
        import { buildChart } from "{{ .EntryJS }}";

        // Данные, переданные из Go
        const chartData = {{ .ChartData }};
        
        // Вызов функции с аргументами
        buildChart(chartData);
    </script>
</body>
</html>
