<div style="margin-top: 20px; margin-left: 20px;">
    <p><strong>Plug</p>
    <div id="chart" style="margin-top: 20px;"></div>
</div>

<script type="module">
    import {{ .EntryJS }};

    // Данные, переданные из Go
    const data = {{ .Data }};
    
    // Вызов функции с аргументами
    buidPlug(data);
</script>